.main-container{
    height: 100vh;
    border:2px solid black;
    padding:20px;
}

.head {
    display:flex; 
}


.schoolLogo {
    height:100px;
    width:100px;
    border-radius: 50px;

}

.schoolDetailes {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    text-align: center;
    flex-grow: 1;
}

.heading {
    margin:0;
}

.secondContainer {
    /* display: flex;
    
      
    border: 0;     */
    
    float:right;
    /* margin-right:200px; */
    list-style-type: none;
    margin-right:100px;
    
}

table, thead, tr{
    border: 1px solid black;
    width:100%;
    border-collapse: collapse;
}
td {
    border: 1px solid black; 
}
.report{
    margin-top: 20px;
}
.small{
    margin: 0;
    font-size: 10px;
}

.listItems {
    list-style-type: none;
    float:left;
    margin-left:100px;
}


.total-result{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

.middle {
    border:0;
}
